@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

body{
    overflow: hidden;   
}

.mainText {
    height: 93vh;
    width: 90vw;
    position: absolute;
    margin-top: 8vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-left: 11vw;
    margin-right: 0px !important;
    overflow: auto;
    white-space: pre-wrap;
}

.hamImage {
    width: 4vw;
    height: auto;
    margin-left: 2vw;
    margin-top: 2vh;
    position: absolute;
    background-color: white;
    background-color: #23282D;
    padding: 1em;
    border-radius: 49%;
}

.crossImage {
    width: 3vw;
    height: auto;
    margin-left: 2vw;
    margin-top: 4vh;
    position: relative;
}

.menu {
    height: 100vh;
    width: 20vw;
    border-right: 0.5px solid;
    margin-left: 0px;
    position: absolute;
    visibility: hidden;
    background-color: #23282D;
    z-index: 999 ;
}

.menuText {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2vw;
}

.menuText:hover{
    cursor: pointer;
}

#menuOne {
    margin-top: 2vh;
}

.webcamContainer {
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.webcamVideo {
    z-index: -1;
    position: absolute;
}

.takePicButton {
    position: absolute;
    pointer-events: all;
    background-color: #008CBA;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    border-radius: 1em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 80vh;
    width: 18vw;
    margin-left: -9vw;
    left: 50%;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.takePicButton:hover{
    opacity: 0.4;
}

.takePicButton:active{
    opacity: 1;
}

.aboutHeader {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    margin-top: 30vh;
    text-align: center;
    width: 100vw;
}

.aboutText {
    position: absolute;
    margin-top: 50vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align:center;
    width: 100vw;
}